<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <nav href="(inicio.html)">

        </nav>
    </div>
    <div id="titulo"> <h1>Criação do Formulário (HTML):</h1>
        <div id="formulario">
            <form action="/" method="get">
                <Label for="nome">Nome:</Label>
                <input type="nome"><br><br>

                <Label for="telefone">Telefone:</Label>
                <input type="telefone"><br><br>

                <Label for="e-mail">E-mail:</Label>
                <input type="e-mail"><br><br>

                <Label for="endereco">Endereço:</Label>
                <input type="endereco"><br><br>

                <label for="curso">Curso desejado</label>
                <select name="curso" id="curso">
                    <option value="enfermagem">Enfermagem</option>
                    <option value="ti">TI</option>
                    <option value="eletronica">Eletronica</option>
                </select><br><br>
                
                <b>Termos de Adesão</b><br>
                "Eu aceito os termos de adesão deste curso".
                <input type="checkbox"><br><br>
                <button>Enviar</button>
        </form>
        </div>
</div>
    

</body>
</html>